html {
	background-color: #c0eff5;
	}
	
body {
	font-size: 12px;
	font-family: arial, verdana, sans-serif;
	width: 750px;
	height: auto;
	margin: 10px auto 10px auto;
	
	}
	
	
#container{
	border: 1px solid #665544;
	background-color: #efefef;
	padding: 10px,
	border-radius: 10px;
	-mox-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 0 10px #777777;
	-webkit-box-shaodow: 0 0 10px #777777;
	box-shadow: 0 0 10px #777777;
	}
	
	
#header{
	text-align: center;
	}
p {
	padding: 20px;
	}

a:link {
	color: #991b56 ;
	text-decoration: none;
	}
	
a:visited {
	color: #ffffff;
	}
	
a:hover {
	color: #2ad656;
	text-decoration: underline;
	}
	
a:active {
	color: #f68e56;
	}
	
h1 {
	text-shadow: 1px 1px 0px #959595;
	font-size: 36px;
	}
		
h1, h2, h3 {
	font-family: 'Cabin', sans-serif;
	font-weight: bold;
	padding: 0px 20px 0px 20px;
	color: #9c0156;
	t
	}
	
blockquote {
	font-size: 18px;
	color: #9c0156;
	text-align: center;
	}