/*------ Main Styles -----*/
body {
	margin: 0 auto;
	padding: 0;
	font: .75em/1.5em Helvetica, Arial, sans-serif;
	color: #797267;
	width: 960px;
	background: #797267;
	height: auto;
	overflow: scroll;
	
}
header {
	background:
		url("../images/header-bg.jpg") no-repeat ;
		height: 210px;
		width: 960px;
		margin: 0px;
		}
	
nav ul{
	padding-right: 64px;
	padding-top: 84px;
	float: right;
	width: 277px;
	overflow: hidden;
	}		
nav li{
	display: inline;
	margin: 5px;
	
	}

	
	
a:link{
	color: #423b2e;
	text-decoration: none;
	text-transform: uppercase;
	}
a:visited{
	color: #bf3102;
	text-decoration: none;
	text-transform: uppercase;
	}

a:hover {
	color: #bf3102;
	text-decoration: none;
	text-transform: uppercase;
	}
	
a:active {
	color: #bf3102;
	text-decoration: none;
	text-transform: uppercase;
}


#main-content {
	background: 
		url("../images/main-content-bg.jpg") repeat-y top;
		margin: 0px;
	width: 960px;
	height: auto;
	overflow: auto;
		}
		
#banner {
	background-image: url("../images/banner.jpg");
	
	}
	
#column1of2 {
	width: 450px;
	float: left;
	margin: auto 22px auto 64px;
	clear: both;
	overflow: auto;
	
	
	
	}
#column2of2 {
	width: 260px;
	float: left;
	
	
	}
	
.page-flip {
	background:
		url("../images/page-flip.gif") no-repeat fixed left bottom;

		}
	

footer {
	color: #423b2e;
	font-size: 0.9em;
	text-align: center;
	background:
		url("../images/footer-bg.jpg") no-repeat fixed;
	clear: both;

	}
